Options +FollowSymLinks
RewriteEngine on

DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]



RewriteRule ^Login /Form/Login.php
RewriteRule ^Admin /Form/Login_A.html
RewriteRule ^Register /Form/Register.html

RewriteRule ^Dashboard /Panel/Dashboard.php
RewriteRule ^Usuarios /Panel/Usuarios.php
RewriteRule ^Empresas /Panel/Empresas.php
RewriteRule ^Vehiculos /Panel/Vehiculos.php

RewriteRule ^Success /Form/Success.html
RewriteRule ^Failed /Form/Failed.html

RewriteRule ^Viajar /Agenda/Viajar.html

RewriteRule ^Servicios /About/Servicios.html
RewriteRule ^Nosotros /About/Nosotros.html

ErrorDocument 404 /Error/404.html
ErrorDocument 403 /Error/403.html

Options All -Indexes
