.cotizacion-detalles-wrapper{
    width: 100%;
    margin-top: 80px;

    .cotizacion{
        max-width: 1000px;
        width: 100%;

        padding: 20px;
        margin: auto;

        .cotizacion-header{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .driver-info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .driver-icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $main_1;
                    padding: 15px;
                    margin-right: 10px;
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .driver-desc{
                    h3{
                        color: $main_1;
                        font-size: 1.3em;
                    }
                    p{
                        color: #555;
                    }
                    .calificacion{
                        i{
                            color: #ffaa00; 
                        }
                        i.fa-compass{
                            color: #555;
                        }
                        
                    }
                }
            }
            .cotizacion-buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                     @include button();
                     width: 150px;
                     background: #70ff7c;
                     color: $contraste_1;
                }
                button:hover{
                    @include button-hover();
                }
            }
        }
        .cotizacion-content{
            .cotizacion-info,.cotizacion-info-grid{
                width: 100%;
                margin: 20px auto;
                margin-top: 10px;
                color: $main_1;

                h1{
                    margin-bottom: 20px;
                }
                h2, h3{
                    margin: 20px 0;
                    color: $main_1;
                }
                h2{
                    margin: 30px 0;
                    margin-top: 50px;
                }
                h2:nth-child(1){
                    margin-top: 0;
                }
                h3{
                    margin-bottom: 10px;
                }

                p{
                    font-size: 17px;
                    margin: 10px 0;
                    color: $main_1;
                    b{
                        color: #444;
                        margin-right: 5px;
                    }
                }

                .cotizar-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    h2{                        
                        font-size: 1.6em;
                        color: $main_1;
                    }
                    .input {
                        position: relative;
                        max-width: 300px;
                        width: 100%;
                        margin: 15px 0;
                  
                        p {
                          text-align: left;
                          color: $main_1;
                          margin: 0;
                          font-size: 14px
                        }
                        .description{
                            color: #555;
                            font-size: 12px;
                            margin-top: 5px;
                        }
                        input,
                        select {
                          width: 100%;
                          height: 40px;

                          border: none;
                          border-bottom: 1px solid $main_1;
                          outline: none;
                  
                          color: $main_1;
                          background-color: #fff;
                        }
                      }
                      .cotizacion-buttons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        button{
                             @include button();
                             width: 150px;
                             background: #70ff7c;
                             color: $contraste_1;
                        }
                        button:hover{
                            @include button-hover();
                        }
                    }
                }


            }    
            .cotizacion-info-grid      {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 40px
            }  
        }
        
    }
}

@media screen and(max-width: 850px) {
    .cotizacion-detalles-wrapper{
        .cotizacion{
            .cotizacion-content{
                .cotizacion-info-grid{
                    grid-template-columns: 1fr;
                    .cotizar-container {
                        h2{                        
                            margin-top: 40px;
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and(max-width: 618px) {
    .cotizacion-detalles-wrapper{
        .cotizacion{
            .cotizacion-header{
                flex-direction: column;
            }
        }
    }
    
}

@media screen and(max-width: 436px) {
    .cotizacion-detalles-wrapper{
        .cotizacion{
            .cotizacion-header{
                .driver-info{
                    flex-direction: column;
                    text-align: center;
                    .driver-desc{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    
}