footer{
    width: 100%;
    min-height: 250px;
    border-radius: 14em 0 0 0;
    background: linear-gradient(45deg, $main_1, $main_2);

    .footer-wrapper{
        padding: 50px 30px;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        

        .column_1, .column_2, .column_3{
            margin: auto;
            text-align: center;

            .logo{
                max-width: 120px;
                width: 100%; 
                margin: 0 auto; 
                
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            p{
                color: $contraste_2;
                margin-top: 10px;
                font-size: 0.9em;
            }
            
            
        }
        .column_2{
            max-width: 320px;
            width: 100%;
            h3{
                color: $contraste_2;
                font-weight: 600;
                font-size: 1.6em;
            }
            hr{
                width: 200px;
                margin: 10px auto;
            }
            .item-wrapper{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .item{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    background-color: $contraste_2;
                    text-decoration: none;
                    margin: 10px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .3s;

                    i{
                        color: $main_1;
                        font-size: 1.2em;
                    }
                }
                .item:hover{
                    transform: scale(1.1);
                }
            }
        }
        .column_3{
            h3{
                color: $contraste_2;
                font-weight: 600;
                font-size: 1.6em;
            }
            .input{
                position: relative;

                input{
                    border: none;
                    border-bottom: 1px solid $contraste_2;
                    background-color: transparent;
                    color: $contraste_2;
                    width: 100%;
                    height: 40px;
                    outline: none;
                    padding-left: 25px;
                    margin-top: 10px;
                }
                input::placeholder{
                    color: $contraste_2;
                }
                input:-webkit-autofill {
                -webkit-text-fill-color: #ffffff;
                -webkit-box-shadow: 0 0 0px 1000px transparent inset;
                -webkit-transition: background-color 5000s ease-in-out 0s;
                transition: background-color 5000s ease-in-out 0s;
                }

                i{
                    position: absolute;
                    top: 20px;
                    left: 0;
                    color: $contraste_2;
                }
            }
            .suscribirse-mail{
                @include button();
                width: 160px;
                background: white;
                color: $main_1;
            }
            .suscribirse-mail:hover{
                @include button-hover();
                background-color: $main_1;
                color: $contraste_2;
            }
            .suscrito-mail{
                display: none;
                @include button();
                width: 160px;
                background: #85e992;
                color: $contraste_2;
                cursor: pointer;
            }
        }
    }
    .totum{
        width: 100%;
        min-height: 30px;
        background-color: $main_2;

        display: flex;
        justify-content: center;
        align-items: center;

        p{
            color: $contraste_2;
            font-weight: 300;
            text-align: center;
            margin: 5px 0;

            a{
                text-decoration: none;
                color: #858ee9;
            }
            a:hover{
                color: $main_3;
            }
        }
    }
}

@media screen and(max-width: 1100px) {
    footer{
        .footer-wrapper{
            grid-template-columns: 1fr;

            .column_1, .column_2, .column_3{
                max-width: 400px;
                width: 100%;
                margin: 20px auto;
            }
        }
    }
}