.login,
.register, .success{
  width: 100%;
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  margin-top: 80px;

  .login-wrapper,
  .register-wrapper {
    position: relative;
    z-index: 10;
    max-width: 330px;
    width: 100%;
    padding: 30px 0;
    margin: 0 20px;

    box-shadow: 10px 0px 20px 0 rgba($color: #000000, $alpha: 0.3);
    background-color: $contraste_2;

    border-radius: 3em 0 3em 3em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    h1 {
      color: $contraste_1;
      font-size: 2em;

      span {
        color: $main_1;
      }
    }

    .progress-bar, .progress-bar2 {
      position: relative;
      width: 90%;
      height: 15px;

      display: flex;
      justify-content: center;
      align-items: center;

      margin: 0 auto;
      text-align: center;
      margin-top: 20px;

      .line {
        position: relative;
        width: 100%;
        height: 5px;

        border-radius: 2em;
        background-color: #aaa;
      }
      .progress {
        position: absolute;
        left: 0;

        width: 0%;
        height: 5px;

        border-radius: 2em;
        background: linear-gradient(to right, $main_1, $main_2);
        transition: 0.8s;
      }
      .circle1,
      .circle2,
      .circle3 {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #aaa;
        position: absolute;
        left: 0;
      }
      .circle1 {
        background-color: $main_1;
      }
      .circle2 {
        left: calc(50% - 10px);
      }
      .circle3 {
        left: calc(100% - 10px);
      }
    }
    .progress-bar2{
      .circle1 {
        background-color: $main_1;
      }
      .circle2 {
        left: calc(100% - 10px);
      }
    }

    #login,
    #step_1,
    #step_2,
    #step_3,
    #step_4,
    #step_5 {
      width: 100%;
      text-align: center;

      .inputs-wrapper,
      .inputs-wrapper-register {
        width: 100%;
        .input {
          position: relative;
          width: calc(100% - 60px);
          margin: 30px auto;

          input,
          select {
            width: 100%;
            height: 40px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #aaa;
            outline: none;
            padding-left: 25px;
            color: #555;
            font-size: 0.85em;
          }
          input::placeholder,
          select::placeholder {
            color: #888;
          }

          #icon {
            position: absolute;
            top: 10px;
            left: 0;
            color: #555;
          }
          #passeye {
            position: absolute;
            top: 12px;
            right: 0;
            color: #555;
            cursor: pointer;
            transition: 0.3s;
          }
          #passeye:hover {
            transform: scale(1.2);
          }
        }
        .input:nth-child(3) {
          input {
            padding-right: 30px;
            margin-bottom: 0;
          }
        }
      }
      .inputs-wrapper-register {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .button-login,
      .button-register {
        @include button();
        margin-top: 0;
      }

      .login-bottom,
      .register-bottom {
        text-align: center;
        margin-top: 20px;
        p {
          max-width: 280px;
          width: 100%;
          margin: 10px auto;

          color: $main_2;
          font-size: 0.8em;

          a {
            text-decoration: none;
            color: $main_1;
          }
          a:hover {
            color: $main_3;
          }
        }
      }

      #mensaje-error{
        color: #ff635a;
        margin-bottom: 20px;
      }
    }

    #login {
      .inputs-wrapper {
        .input {
          input {
            padding-right: 25px;
          }
        }
      }
    }

    #step_1 {
      max-width: 300px;
      .input {
        position: relative;
        width: calc(100% - 60px);
        margin: 30px auto;

        select {
          width: 100%;
          height: 40px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #aaa;
          outline: none;
          padding-left: 25px;
          color: #555;
          font-size: 0.85em;
        }
        select::placeholder {
          color: #888;
        }

        #icon {
          position: absolute;
          top: 10px;
          left: 0;
          color: #555;
        }
        #passeye,
        #passeye2 {
          position: absolute;
          top: 12px;
          right: 0;
          color: #555;
          cursor: pointer;
          transition: 0.3s;
        }
        #passeye:hover,
        #passeye2:hover {
          transform: scale(1.2);
        }
      }
    }
    #step_5 {
      .button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        button {
          @include button();
        }
      }
    }
  }
  .register-wrapper {
    max-width: 600px;
    position: relative;
    z-index: 10;

    .vehiculos-wrapper {
      position: absolute;
      display: none;
      z-index: -1;
      width: 300px;
      height: 490px;
      background-color: $contraste_2;
      border-radius: 0 2em 2em 2em;
      box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: 0.3);

      text-align: center;

      right: -320px;

      .vehiculos {
        width: calc(100% - 20px);
        height: 410px;
        margin: 10px auto;
        margin-bottom: 0;
        overflow-y: auto;

        #no-vehicle{
          width: 100%;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;

          p{
            color: $main_1;
          }
        }

        .vehiculo {
          background-color: $main_1;
          border-radius: 0 2em 2em 2em;

          padding: 10px;
          margin: 10px 0;

          display: flex;
          justify-content: space-between;
          align-items: center;

          .vehiculo-icon {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: $main_2;

            display: flex;
            justify-content: center;
            align-items: center;

            i {
              color: $contraste_2;
              font-size: 2em;
            }
          }
          .vehiculo-info {
            text-align: right;
            h3 {
              color: $contraste_2;
              font-weight: 400;
              margin-bottom: 5px;
              font-size: 1em;
            }
            p {
              color: $contraste_2;
              font-weight: 400;

              i {
                margin-right: 10px;
              }
            }
          }
          .edit-button {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            button {
              @include button();
              width: 40px;
              height: 40px;
              font-size: 0.6em;
              background: $main_2;

              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 2px;

              i {
                margin: 0;
              }
            }
            button:hover {
              background: #ffffff;
              color: $main_2;
            }
          }
        }
      }
      .finalizar-button {
        @include button();
      }
    }
  }
  .success-wrapper{
    padding: 20px;
    max-width: 400px;
    background-color: $contraste_2;
    box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: .3);
    border-radius: 3em 0 3em 3em;

    text-align: center;
    margin: 20px;

    .success-icon{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      i{
        color: rgb(166, 255, 107);
        font-size: 5em;
      }
    }
    h3{
      font-size: 1.6em;
      font-weight: normal;
      color: $main_1;
      margin: 5px 10px;
      margin-top: 20px;
    }
    p{
      color: #555;
      margin: 0 10px;
      margin-bottom: 10px;

    }
    .success-buttons{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a{
        @include button();
        text-decoration: none;
        margin: 5px;
        font-size: .8em;
      }
    }
  }
}

@media screen and(max-width: 1260px) {
  .register {
    .register-wrapper {
      .vehiculos-wrapper{
        position: relative;
        right: 0;
        box-shadow: none;
      }
    }
  }
}

@media screen and(max-width: 470px) {
  .register {
    .register-wrapper {
      #login,
      #step_1,
      #step_2,
      #step_3,
      #step_4,
      #step_5 {
        .inputs-wrapper-register {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
