#gurucuteco{
    width: 100%;
    height: 100vh;
    position: fixed;

    top: 0;
    left: 0;

    background-color: rgba($color: #000000, $alpha: .6);
    opacity: 0;
    animation: fadeIn .5s forwards;

    z-index: 100;

    display: none;
    justify-content: center;
    align-items: center;

    .gurucuteco-container{
        max-width: 500px;
        width: 100%;
        border-radius: 1em;
        padding: 20px;
        margin: 10px;
        background-color: $contraste_2;
        position: relative;

        .gurucuteco-body{
            h3{
                color: $main_1;
                margin-bottom: 10px;
                span{
                    color: #333;
                }
            }
            p{
                color: #555;

                a{
                    text-decoration: none;
                    color: $main_1;
                }
            }
        }
        .button-wrapper{
            margin-top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            button{
                padding: 15px;
                text-align: center;
                color: $contraste_2;
                background-color: $main_1;
                border: none;
                border-radius: 10px;
            }
        }
    }
}

.gurucuteco-button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        color: $main_1;
        font-size: 17px;
    }
}

@keyframes fadeIn{
    0%{opacity: 0;}100%{opacity: 1;}
}