//------[Colores]------

$main_1: #3844bc;
$main_2: #2b3179;
$main_3: #6d76db;

$contraste_1: #333333;
$contraste_2: #ffffff;

@mixin button {
  background: linear-gradient(to right, $main_1, $main_2);
  color: $contraste_2;
  padding: 15px 20px;
  border: none;
  border-radius: 2em;
  margin-top: 10px;
  transition: 0.5s;
  cursor: pointer;

  i {
    margin-right: 5px;
  }
}
@mixin button-hover {
  transform: scale(1.1);
}

.landing {
  width: 100%;
  height: calc(100vh - 80px);

  background-color: #fff;
  margin-top: 80px;

  display: grid;

  .landing-wrapper-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;

    margin: 0 auto;
    padding: 0 20px;

    .landing-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-align: left;

      .landing-info {
        text-align: left;

        h1 {
          font-size: 4.2em;
          font-weight: bold;
          color: $contraste_1;
          margin-bottom: 10px;

          span {
            color: $main_1;
          }
        }
        p {
          color: $main_1;
          font-size: 1.2em;
          max-width: 450px;
          width: 100%;
          margin-bottom: 20px;
        }
        .button-landing {
          @include button();
          border-radius: 0 2em 2em 2em;
        }
        .button-landing:hover {
          @include button-hover();
        }
      }
    }
    .landing-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .landing-img-wrapper {
        width: 500px;
        height: 450px;

        border-radius: 6em 6em 0 6em;
        overflow: hidden;

        background-color: $main_2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.servicios {
  max-width: 1500px;
  width: 100%;

  margin: 0 auto;

  padding: 30px 10px;

  h2 {
    color: $contraste_1;
    font-size: 2.3em;
    text-align: center;

    span {
      color: $main_1;
    }
  }

  #hr{
    margin: 10px auto;
  }
  hr {
    width: 100px;
    border: 1px solid $main_1;
    margin: 10px 0;
  }

  .servicios-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    margin: 20px 0;

    .card {
      max-width: 300px;
      width: 100%;
      min-height: 420px;

      background: linear-gradient(45deg, $main_1, $main_2);
      box-shadow: 10px 0px 20px 0 rgba($color: #000000, $alpha: 0.3);
      border-radius: 3em 3em 0 3em;

      margin: 10px;
      padding: 20px 20px;

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      transition: 0.3s;

      .card-top {
        .card-icon {
          i {
            color: $contraste_2;
            font-size: 3em;
            margin-bottom: 10px;
          }
        }
        .card-info {
          h3 {
            color: $contraste_2;
            font-size: 1.6em;
          }
          hr {
            border: 1px solid $contraste_2;
          }
          .info_1 {
            color: $contraste_2;
            margin: 20px 0;
            font-size: 1.1em;
          }
        }
      }

      .card-bottom {
        .info_2,
        .info_3 {
          color: $contraste_2;
          font-size: 0.8em;
          margin: 10px 0;

          a {
            color: #aaa;
            text-decoration: none;
          }
        }

        .button-whatsapp {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .whatsapp {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: $main_1;

            padding: 10px;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .card:hover {
      background: $contraste_2;
      transform: scale(1.01);

      .card-top {
        .card-icon {
          i {
            color: $main_1;
          }
        }
        .card-info {
          h3 {
            color: $main_1;
          }
          hr {
            border: 1px solid $main_1;
          }
          .info_1 {
            color: $main_2;
          }
        }
      }
      .card-bottom {
        .info_2,
        .info_3 {
          color: $main_1;

          a {
            color: #444;
          }
        }
      }
    }
  }
}

.nosotros {
  margin: 90px 0;
  margin-bottom: 100px;
  .nosotros-wrapper-grid {
    display: grid;
    grid-template-columns: 40% 1fr;
    width: 100%;
    gap: 20px;

    margin: 0 auto;
    padding: 0 20px;

    .nosotros-left {
      display: flex;
      justify-content: center;
      align-items: center;

      .nosotros-img-wrapper {
        width: 500px;
        height: 450px;

        border-radius: 6em 6em 0 6em;
        overflow: hidden;

        background-color: $main_2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .nosotros-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-align: left;

      .nosotros-info {
        text-align: left;

        h2 {
          color: $contraste_1;
          font-size: 2.3em;

          span {
            color: $main_1;
          }
        }
        hr {
          width: 100px;
          border: 1px solid $main_1;
          margin: 10px 0;
        }
        p {
          color: #666;
          font-size: 1.2em;
          max-width: 630px;
          width: 100%;
          margin-bottom: 20px;
        }
        .button-nosotros {
          @include button();
          border-radius: 0 2em 2em 2em;
        }
        .button-nosotros:hover {
          @include button-hover();
        }
      }
    }
  }
}

.oportunidades {
  margin: 90px auto;
  margin-bottom: 150px;

  padding: 0 20px;

  max-width: 1300px;
  width: 100%;

  text-align: center;

  h2 {
    color: $contraste_1;
    font-size: 2.3em;

    span {
      color: $main_1;
    }
  }
  hr {
    width: 100px;
    border: 1px solid $main_1;
    margin: 10px auto;
  }

  .oportunidades-wrapper{
    max-width: 1300px;
    width: 100%;
    height: 300px;
    padding: 20px;
    margin-top: 30px;

    border-radius: 3em 0 3em 3em;

    background-color: $contraste_2;
    box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: .3);

    .search{
      position: relative;

      width: 200px;
      height: 40px;

      input{
        width: 100%;
        height: 40px;
        padding-left: 25px;
        background-color: transparent;
        border: none;
        color: #666;
      }
      input::placeholder{
        color: #aaa;
      }
      input:focus{
        outline: 1px solid #aaa;
        border-radius: 10px;
      }

      i{
        position: absolute;
        top: 12px;
        left: 5px;

        color: #aaa;
      }
    }

    .list-empty{
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      p{
        color: $main_1;
        margin: auto;
      }
    }

    .oportunidades-list{
      width: 100%;
      display: none;
      margin-top: 10px;

      .oportunidad{
        width: 100%;
        min-height: 80px;
        border-radius: 0 3em 3em 3em;
        background-color: $contraste_2;
        box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: .3);

        cursor: pointer;

        border: none;
        outline: none;

        .collide-hide{
          width: calc(100% - 40px);
          display: flex;
          justify-content: flex-start;
          align-items: center;

          margin: 0 auto;

          .oportunidad-icon{
            width: 80px;
            height: 80px;

            display: flex;
            justify-content: center;
            align-items: center;

            i{
              color: $main_1;
              font-size: 3em;
            }
          }
          .travel, .time{
            text-align: left;
            margin: 0 10px;

            p{
              margin: 5px 10px;
              color: $main_2;
              i{
                color: $main_1;
                font-size: 1.1em;
              }
            }
            
          }
          .discount{
            margin-left: 10px;
            h3{
              font-size: 2em;
              color: $main_1;
            }
          }
        }
      }
    }
  }
}

.separador_wrapper {
  width: 100%;
  overflow: hidden;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.separador_1,
.separador_2 {
  width: 50%;
  min-width: 300px;
  height: 20px;
  margin: 20px 0;
  background: linear-gradient(45deg, $main_1, $main_2);
  position: relative;
  overflow: hidden;

  .triangle {
    top: 0;
    right: 0;
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent $contraste_2 transparent transparent;
  }
}
.separador_2 {
  .triangle {
    top: 0;
    left: 0;
    border-width: 0 40px 40px 0;
    transform: rotate(180deg);
  }
}

@media screen and(max-width: 950px) {
  .landing {
    .landing-wrapper-grid {
      grid-template-columns: 1fr;

      .landing-left {
        width: calc(100% - 20px);
        margin: 0 auto;

        .landing-info {
          width: 100%;
          text-align: center;

          h1 {
            font-size: 3.4em;
          }
          p {
            font-size: 1em;
            margin: 20px auto;
            max-width: 400px;
          }
          .button-landing {
            margin-top: 0;
          }
        }
      }

      .landing-right {
        .landing-img-wrapper {
          max-width: 400px;
          width: calc(100% - 20px);
          height: 300px;
        }
      }
    }
  }

  .nosotros {
    .nosotros-wrapper-grid {
      grid-template-columns: 1fr;

      .nosotros-left {
        .nosotros-img-wrapper {
          max-width: 400px;
          width: calc(100% - 20px);
          height: 300px;
        }
      }

      .nosotros-right {
        width: calc(100% - 20px);
        margin: 0 auto;

        .nosotros-info {
          width: 100%;
          margin-top: 20px;
          text-align: center;

          h1 {
            font-size: 3.4em;
          }
          hr{
            margin: 10px auto;
          }
          p {
            font-size: 1em;
            margin: 10px auto;
          }
          .button-nosotros {
            margin-top: 0;
          }
        }
      }
    }
  }
}
