.oportunidad-detalles-wrapper{
    width: 100%;
    min-height: calc(100vh - 80px);
    margin-top: 80px;

    .oportunidad{
        max-width: 1000px;
        width: 100%;

        padding: 20px;
        margin: auto;

        .oportunidad-header{

            display: flex;
            justify-content: space-between;
            align-items: center;

            .driver-info{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .driver-icon{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background-color: $main_1;
                    padding: 15px;
                    margin-right: 10px;
    
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .driver-desc{
                    h3{
                        color: $main_1;
                        font-size: 1.3em;
                    }
                    p{
                        color: #555;
                    }
                    .calificacion{
                        i{
                            color: #ffaa00; 
                        }
                        i.fa-compass{
                            color: #555;
                        }
                        
                    }
                }
            }
            .oportunidad-buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                button{
                     @include button();
                     width: 150px;
                     background: #70ff7c;
                     color: $contraste_1;
                }
                button:hover{
                    @include button-hover();
                }
            }
        }
        .oportunidad-content{
            .oportunidad-info{
                width: 100%;
                margin: 20px auto;

                .info{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    border-bottom: 1px solid #aaa;

                    height: 40px;
                    margin-top: 20px;
                    b{
                        font-size: 1.1em;
                        color: $main_1;
                        i{
                            margin-right: 5px;
                        }
                    }
                    p{
                        color: #555;
                    }
                }
            }
            .price_wrapper{
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .discount{
                    h3{
                        color: $main_1;
                        font-size: 2.2em;
                        margin-right: 10px;
                    }
                }
                .price{
                    margin: 20px 0;
                    .desc{
                        color: #ff5353;
                        text-decoration-line: line-through;
                    }
                    p{
                        color: #329e3b;
                        font-size: 1.2em ;
                    }  
                }
            }
            
        }
        
    }
}

@media screen and(max-width: 618px) {
    .oportunidad-detalles-wrapper{
        .oportunidad{
            .oportunidad-header{
                flex-direction: column;
            }
        }
    }
    
}

@media screen and(max-width: 436px) {
    .oportunidad-detalles-wrapper{
        .oportunidad{
            .oportunidad-header{
                .driver-info{
                    flex-direction: column;
                    .driver-desc{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
    
}