.Cotizaciones-section {
  margin: 20px auto;
  margin-top: 80px;
  margin-bottom: 20px;

  padding: 0 20px;

  max-width: 1300px;
  width: 100%;

  text-align: center;

  h1 {
    color: $main_1;
    font-size: 2.6em;
  }
  hr {
    width: 100px;
    border: 1px solid $main_1;
    margin: 10px auto;
  }
  h2{
    color: #555;
    font-size: 16px;
    font-weight: 500;
  }

  .Cotizaciones-wrapper {
    max-width: 1300px;
    width: 100%;
    padding: 20px 30px;
    margin-top: 30px;

    border-radius: 3em 0 3em 3em;

    background-color: $contraste_2;
    box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: 0.3);
  }

  .filter-wrapper {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .search {
      position: relative;

      width: 200px;
      height: 40px;

      input {
        width: 100%;
        height: 40px;
        padding-left: 25px;
        background-color: transparent;
        border: none;
        color: #666;
      }
      input::placeholder {
        color: #aaa;
      }
      input:focus {
        outline: 1px solid #aaa;
        border-radius: 10px;
      }

      i {
        position: absolute;
        top: 12px;
        left: 5px;

        color: #aaa;
      }
    }

    .button-filtrar{
      button{
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        color: #888;
        width: 100px;
        transition: .3s;
      }
      button:hover{
        color: #555;
      }
    }
  }

  #filters {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .input {
      position: relative;
      width: 180px;
      margin: 10px;

      input,
      select {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #aaa;
        outline: none;
        padding-left: 25px;
        color: #555;
        font-size: 0.85em;
      }
      input::placeholder,
      select::placeholder {
        color: #888;
      }

      #icon {
        position: absolute;
        top: 10px;
        left: 0;
        color: #555;
      }
    }
    button{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $main_1;
      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: .2s;

      i{
        color: white;
        font-size: 15px;
      }
    }
    button:hover{
      transform: scale(1.05);
    }
  }

  .list-empty-cotizacion {
    width: 100%;
    height: 400px;

    display: none;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    p {
      color: $main_1;
      margin: auto;
    }
  }

  .Cotizaciones-list {
    width: 100%;
    height: 400px;
    display: block;
    max-height: 350px;
    overflow: hidden;
    overflow-y: auto;

    .Cotizaciones {
      width: calc(100% - 20px);
      border-radius: 20px;
      background-color: $main_1;

      margin: 15px auto;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .Cotizaciones-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .discount {
          height: 80px;
          width: 80px;
          padding: 10px;

          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;

          background-color: $main_2;

          border-radius: 20px;

          h3 {
            color: $contraste_2;
            font-size: 1.8em;
          }
        }
        .travel {
          text-align: left;
          margin: 0 10px;

          p {
            margin: 5px 10px;
            color: $contraste_2;
            font-size: 14px;
            max-width: 500px;
            i {
              font-size: 1.1em;
              margin-right: 10px;
            }
          }
        }
      }

      .Cotizaciones-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .travel {
          text-align: center;
          margin: 0 10px;

          p {
            margin: 5px 10px;
            width: 150px;
            color: $contraste_2;

            i {
              font-size: 1.1em;
            }
          }
          .calificacion {
            color: #ffaa00;
          }
        }

        .button-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-right: 20px;

          button {
            width: 150px;
            height: 35px;

            border: none;
            outline: none;
            color: $main_1;
            margin: 5px 10px;
            background-color: $contraste_2;

            border-radius: 10px;

            transition: 0.3s;
            cursor: pointer;
          }
          button:hover {
            transform: scale(1.05);
          }
          .comprar-button {
            background-color: #70ff7c;
            color: $contraste_1;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1031px) {
  .Cotizaciones-section {
    .Cotizaciones-wrapper {
      .Cotizaciones-list {
        .Cotizaciones {
          .Cotizaciones-right {
            .travel {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1003px) {
  .Cotizaciones-section {
    .Cotizaciones-wrapper {
      .Cotizaciones-list {
        .Cotizaciones {
          .Cotizaciones-left {
            .travel:nth-child(3) {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 877px) {
  .Cotizaciones-section {
    .Cotizaciones-wrapper {
      .Cotizaciones-list {
        height: auto;
        max-height: 700px;
        .Cotizaciones {
          flex-direction: column;
          width: calc(100% - 20px);
          margin: 20px auto;
          .Cotizaciones-left {
            flex-direction: column;

            .travel {
              display: block;
              text-align: center;
              p {
                margin: 10px 5px;
              }
            }
            .travel:nth-child(3){
              display: block;
            }
          }
          .Cotizaciones-right {
            width: 100%;
            flex-direction: column;
            margin: 10px 0;

            .button-wrapper {
              width: 100%;
              margin: 10px 0;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: row;
              flex-wrap: wrap;

              button {
                margin: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 630px) {
  .Cotizaciones-section{
    h1{
      font-size: 1.9em;
    }
    h2{
      font-size: 14px;
    }
  }   
}