.tooltip {
    position: relative;
    font-size: 14px;
    /* width: 250px;
    height: 60px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 60px;
    margin: auto; */
  }
  .tooltip::before {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 200px;
    padding: 5px;
    font-size: 0.9em;
    line-height: 1.4em;
    border-radius: 5px;
    background: #444;
    visibility: hidden;
    color: white;
    content: attr(data-tooltip);
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.2);
    opacity: 0;
  
    transition: 0.2s ease all;
  }
  
  .tooltip::after {
    content: "";
    position: absolute;
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    border: 5px solid transparent;
    transition: 0.2s ease all;
  }
  
  .tooltip:hover::before,
  .tooltip:hover::after {
    /* display: inline-block; */
    visibility: visible;
    opacity: 1;
  }
  
  /* Top */
  
  .tooltip.top::before {
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip.top::after {
    bottom: 100%;
    border-top-color: #444;
    border-bottom-width: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Right */
  
  .tooltip.right::before {
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
  }
  .tooltip.right::after {
    left: 100%;
    border-right-color: #444;
    border-right-width: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Left */
  
  .tooltip.left::before {
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
  }
  .tooltip.left::after {
    right: 100%;
    border-left-color: #444;
    border-left-width: -10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Bottom */
  
  .tooltip.bottom::before {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
  .tooltip.bottom::after {
    top: 100%;
    border-bottom-color: #444;
    border-bottom-width: -10px;
    left: 50%;
    transform: translateX(-50%);
  }