.viajar-wrapper {
  margin-top: 120px;
  .oportunidades-viajar,
  .ofertas-viajar,
  .salioviaje {
    margin: 20px auto;
    margin-bottom: 40px;

    padding: 0 20px;

    max-width: 1300px;
    width: 100%;

    text-align: center;

    h2 {
      color: $main_1;
      font-size: 2.6em;

    }
    hr {
      width: 100px;
      border: 1px solid $main_1;
      margin: 10px auto;
    }

    p {
      margin-bottom: 40px;
    }

    .oportunidades-wrapper,
    .ofertas-wrapper {
      max-width: 1300px;
      width: 100%;
      height: 600px;
      padding: 20px;
      margin-top: 30px;

      border-radius: 3em 0 3em 3em;

      background-color: $contraste_2;
      box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: 0.3);

      .search {
        position: relative;

        width: 200px;
        height: 40px;

        input {
          width: 100%;
          height: 40px;
          padding-left: 25px;
          background-color: transparent;
          border: none;
          color: #666;
        }
        input::placeholder {
          color: #aaa;
        }
        input:focus {
          outline: 1px solid #aaa;
          border-radius: 10px;
        }

        i {
          position: absolute;
          top: 12px;
          left: 5px;

          color: #aaa;
        }
      }

      .list-empty, .list-empty2 {
        width: 100%;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;
        margin-top: -25px;
        p {
          color: $main_1;
          margin: auto;
        }
      }
      .list-empty2{
        display: flex;
      }
      
      .oportunidades-list{
        width: 100%;
        display: block;
        margin-top: 10px;
        height: calc(100% - 50px);
        overflow: hidden;
        overflow-y: auto;
  
        .oportunidad{
          width: 100%;
          border-radius: 3em 0 3em 3em;
          background-color: $main_1;
  
          margin: 15px 0;
  
          display: flex;
          justify-content: space-between;
          align-items: center;
  
          .oportunidad-left{
            display: flex;
            justify-content: flex-start;
            align-items: center;
  
            .discount{
              width: 80px;
              height: 80px;
  
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 10px;
  
              background-color: $contraste_2;
  
              border-radius: 50%;
              
  
              h3{
                color: $main_1;
                font-size: 2em;
              }
            }
            .travel{
              text-align: left;
              margin: 0 10px;
  
              p{
                margin: 5px 10px;
                color: $contraste_2;
                i{
                  font-size: 1.1em;
                }
              }
              
            }
          }
          
  
          .oportunidad-right{
            display: flex;
            justify-content: flex-end;
            align-items: center;
  
            .travel{
              text-align: center;
              margin: 0 10px;
  
              p{
                margin: 5px 10px;
                color: $contraste_2;
  
                i{
                  font-size: 1.1em;
                }
              }
              .calificacion{
                color: #ffaa00;
              }
              
            }
  
            .button-wrapper{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-right: 20px;
  
              button{
                width: 150px;
                height: 35px;
  
                border: none;
                outline: none;
                color: $main_1;
                margin: 5px 10px;
                background-color: $contraste_2;
  
                border-radius: 10px;
  
                transition: .3s;
                cursor: pointer;
              }
              button:hover{
                transform: scale(1.05);
              }
              .comprar-button{
                background-color: #70ff7c;
                color: $contraste_1;
              }
            }
          }
        }
      }
    }
  }
  .salioviaje {
    padding: 20px 0;
    padding-bottom: 40px;
    margin-bottom: 80px;
    .button-agendar {
      position: relative;
      z-index: 10;
      @include button();
    }
    .button-agendar:hover {
      @include button-hover();
    }
    .button-agendar.active{
      opacity: 0;
    }

    .salioviaje-desplegable {
      margin-top: -90px;
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: 0.6s ease-in-out;
      opacity: 0;
      position: relative;
      z-index: 5;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .formulario-viaje{
        max-width: 600px;
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .input {
          position: relative;
          width: calc(100% - 60px);
          margin: 30px auto;
  
          input {
            width: 100%;
            height: 40px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #aaa;
            outline: none;
            padding-left: 25px;
            color: #555;
            font-size: 0.85em;
          }
          input::placeholder {
            color: #888;
          }
  
          #icon {
            position: absolute;
            top: 10px;
            left: 0;
            color: #555;
          }
        }
      }
      .enviar{
        @include button();
      }
      .enviar:hover{
        @include button-hover();
      }
    }

    .salioviaje-desplegable.show {
      opacity: 1;
      max-height: 500px;
    }
  }
}
@media screen and(max-width: 1146px) {
  .viajar-wrapper{
    .oportunidades-viajar{
      .oportunidades-wrapper{
        .oportunidades-list{
          .oportunidad{
            .oportunidad-left{
              .travel:nth-child(4){
                display: none;
              }
            }
          }
        }
      }
    } 
  }
  
}

@media screen and(max-width: 952px) {
  .viajar-wrapper{
    .oportunidades-viajar{
      .oportunidades-wrapper{
        .oportunidades-list{
          .oportunidad{
            .oportunidad-left{
              .travel:nth-child(3){
                display: none;
              }
            }
          }
        }
      }
    } 
  }
  
}

@media screen and(max-width: 829px) {
  .viajar-wrapper{
    .oportunidades-viajar{
      .oportunidades-wrapper{
        .oportunidades-list{
          .oportunidad{
            flex-direction: column;
            .oportunidad-left{
              flex-direction: column;
              .travel:nth-child(3){
                display: none;
              }
            }
            .oportunidad-right{
              flex-direction: column;
              margin: 10px 0;
  
              .button-wrapper{
                margin: 10px 0;
                flex-wrap: wrap;
                button{
                  margin: 5px 25px;
                }
              }
            }
          }
        }
      }
    } 
  }  
}

@media screen and(max-width: 520px) {
  .viajar-wrapper{
    .salioviaje{
      .salioviaje-desplegable{
        .formulario-viaje{
          grid-template-columns: 1fr;
          gap: 0;
        }
        
      }
    }
  }
}
