.viajar-wrapper {
  margin-top: 120px;
  .oportunidades-viajar,
  .ofertas-viajar,
  .salioviaje {
    margin: 20px auto;
    margin-bottom: 40px;

    padding: 0 20px;

    max-width: 1300px;
    width: 100%;

    text-align: center;

    h2 {
      color: $main_1;
      font-size: 2.6em;
    }
    hr {
      width: 100px;
      border: 1px solid $main_1;
      margin: 10px auto;
    }

    p {
      margin-bottom: 40px;
    }

    .oportunidades-wrapper,
    .ofertas-wrapper {
      max-width: 1300px;
      width: 100%;
      padding: 20px;
      margin-top: 30px;

      border-radius: 3em 0 3em 3em;

      background-color: $contraste_2;
      box-shadow: 10px 0 20px 0 rgba($color: #000000, $alpha: 0.3);

      .filter-wrapper {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .search {
          position: relative;

          width: 200px;
          height: 40px;

          input {
            width: 100%;
            height: 40px;
            padding-left: 25px;
            background-color: transparent;
            border: none;
            color: #666;
          }
          input::placeholder {
            color: #aaa;
          }
          input:focus {
            outline: 1px solid #aaa;
            border-radius: 10px;
          }

          i {
            position: absolute;
            top: 12px;
            left: 5px;

            color: #aaa;
          }
        }

        .button-filtrar {
          button {
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            color: #888;
            width: 100px;
            transition: 0.3s;
          }
          button:hover {
            color: #555;
          }
        }
      }

      #filters, #filters2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .input {
          position: relative;
          width: 180px;
          margin: 10px;

          input,
          select {
            width: 100%;
            height: 40px;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #aaa;
            outline: none;
            padding-left: 25px;
            color: #555;
            font-size: 0.85em;
          }
          input::placeholder,
          select::placeholder {
            color: #888;
          }

          #icon {
            position: absolute;
            top: 10px;
            left: 0;
            color: #555;
          }
        }
      }

      .list-empty,
      .list-empty2 {
        width: 100%;
        height: 500px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -25px;
        p {
          color: $main_1;
          margin: auto;
        }
      }

      .oportunidades-list {
        width: 100%;
        height: 500px;
        display: none;
        margin-top: 10px;
        overflow: hidden;
        overflow-y: auto;

        .oportunidad {
          width: calc(100% - 20px);
          border-radius: 3em 0 3em 3em;
          background-color: $main_1;

          margin: 15px auto;

          display: flex;
          justify-content: space-between;
          align-items: center;

          .oportunidad-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .discount {
              height: 80px;
              padding: 10px;
    
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 10px;
    
              background-color: $contraste_2;
    
              border-radius: 2em;
    
              h3 {
                color: $main_1;
                font-size: 2em;
              }
    
              .precio{
                margin: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                p{
                  font-size: .9em;
                  margin: 0;
                }
                .precio_total{
                  color: #ff5353;
                  text-decoration-line: line-through;
                }
                .precio_desc{
                  color: #329e3b;
                }
              }
            }
            .travel {
              text-align: left;
              margin: 0 10px;

              p {
                margin: 5px 10px;
                color: $contraste_2;
                i {
                  font-size: 1.1em;
                }
              }
            }
          }

          .oportunidad-right {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .travel {
              text-align: center;
              margin: 0 10px;

              p {
                margin: 5px 10px;
                color: $contraste_2;

                i {
                  font-size: 1.1em;
                }
              }
              .calificacion {
                color: #ffaa00;
              }
            }

            .button-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              margin-right: 20px;

              button {
                width: 150px;
                height: 35px;

                border: none;
                outline: none;
                color: $main_1;
                margin: 5px 10px;
                background-color: $contraste_2;

                border-radius: 10px;

                transition: 0.3s;
                cursor: pointer;
              }
              button:hover {
                transform: scale(1.05);
              }
              .comprar-button {
                background-color: #70ff7c;
                color: $contraste_1;
              }
            }
          }
        }
      }
    }
  }
  .salioviaje {
    padding: 20px 0;
    padding-bottom: 40px;
    margin-bottom: 80px;
    
    .button-agendar {
      position: relative;
      z-index: 10;
      @include button();
    }
    .button-agendar:hover {
      @include button-hover();
    }
    .button-agendar.active {
      opacity: 0;
    }

    .salioviaje-desplegable {
      margin-top: -80px;
      padding: 0 18px;
      max-height: 0;
      transition: 0.6s ease-in-out;
      opacity: 0;
      position: relative;
      z-index: 5;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .formulario-viaje {
        max-width: 600px;
        width: 100%;

        .user-info{
          width: 100%;
          margin-top: 20px;

          display: flex;
          justify-content: center;
          align-items: center;

          .user-icon{
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-color: $main_1;
            padding: 10px;
            margin-right: 10px;

            img{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .info{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            h3{
              color: $main_1;
              margin: 0;
            }
            p{
              color: #555;
              margin: 0;
            }
          }
        }

        .progress-bar {
          position: relative;
          width: 90%;
          height: 15px;

          display: flex;
          justify-content: center;
          align-items: center;

          margin: 0 auto;
          text-align: center;
          margin-top: 20px;

          .line {
            position: relative;
            width: 100%;
            height: 5px;

            border-radius: 2em;
            background-color: #aaa;
          }
          .progress {
            position: absolute;
            left: 0;

            width: 0%;
            height: 5px;

            border-radius: 2em;
            background: linear-gradient(to right, $main_1, $main_2);
            transition: 0.8s;
          }
          .circle1,
          .circle2,
          .circle3 {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #aaa;
            position: absolute;
            left: 0;
          }
          .circle1 {
            background-color: $main_1;
          }
          .circle2 {
            left: calc(50% - 10px);
          }
          .circle3 {
            left: calc(100% - 10px);
          }
        }

        .step_1,
        .step_2_traslado,
        .step_2_tour,
        .step_2_transfer,
        .step_2_fiestas,
        .step_3,
        .step_4{

          .title{
            font-size: 1.5em;
            margin: 20px 0;
            color: $main_1;
          }

          .info{
            color: $main_1;
            margin: 0;
            margin-top: 20px;
          }

          .input {
            position: relative;
            width: 300px;
            margin: 30px auto;
  
            input,
            select {
              width: 100%;
              height: 40px;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid #aaa;
              outline: none;
              padding-left: 25px;
              color: #555;
              font-size: 0.85em;
            }
            input::placeholder,
            select::placeholder {
              color: #888;
            }
  
            #icon {
              position: absolute;
              top: 10px;
              left: 0;
              color: #555;
            }
          }

          .formulario-grid, .paradas-wrapper{
            width: 100%;
  
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

            h3{
              color: $main_2;
            }

            .input {
              position: relative;
              width: 300px;
              margin: 30px auto;

              p{
                margin: 0;
                text-align: left;

                color: $main_1;
              }
    
              input,
              select {
                width: 100%;
                height: 40px;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid #aaa;
                outline: none;
                color: #555;
                font-size: 0.85em;
                padding: 0;

                margin: 0;
              }
              input::placeholder,
              select::placeholder {
                color: #888;
              }
            }
          }
          .paradas-wrapper{
            display: block;
            margin: 20px 0;
          }

          .tags {
            width: calc(100% - 40px);
            background-color: #eee;
            border-radius: 10px;
            margin: 0 auto;
    
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
    
            .tag {
              margin: 5px;
              display: flex;
              justify-content: space-between;
              align-items: center;
    
              overflow: hidden;
              border-radius: 10px;
              background-color: $main_3;
    
              p {
                margin: 0 10px;
                color: $contraste_2;
                font-size: 0.9em;
              }
    
              button {
                height: 100%;
                background-color: rgba(30, 30, 30, 0.5);
                padding: 5px 10px;
                cursor: pointer;
                border: none;
    
                i {
                  color: $contraste_2;
                  transition: 0.3s;
                }
              }
              button:hover {
                i {
                  transform: scale(1.1);
                }
              }
            }
          }

          .send-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            width: 100%;
            text-align: center;

            margin-top: 60px;

            .send-icon{
              i{
                color: #70ff7c;
                font-size: 3em;
              }
            }
            .send-info{
              h2{
                font-size: 1.2em;
                color: $main_1;
              }
              p{
                color: #555;
                font-size: .9em;
              }
            }
          }


          .button-viajar{
            @include button();
            margin: 0 5px;
          }
          .button-viajar:hover{
            @include button-hover();
          }
        }
      }
    }

    .salioviaje-desplegable.show {
      opacity: 1;
      max-height: max-content;
    }
  }
}
@media screen and(max-width: 1197px) {
  .viajar-wrapper {
    .oportunidades-viajar {
      .oportunidades-wrapper {
        .oportunidades-list {
          .oportunidad {
            .oportunidad-left {
              .travel:nth-child(4) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 1001px) {
  .viajar-wrapper {
    .oportunidades-viajar {
      .oportunidades-wrapper {
        .oportunidades-list {
          .oportunidad {
            .oportunidad-left {
              .travel:nth-child(3) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 862px) {
  .viajar-wrapper {
    .oportunidades-viajar {
      .oportunidades-wrapper {
        .oportunidades-list {
          .oportunidad {
            flex-direction: column;
            .oportunidad-left {
              flex-direction: column;
              .travel:nth-child(3) {
                display: none;
              }
            }
            .oportunidad-right {
              flex-direction: column;
              margin: 10px 0;

              .button-wrapper {
                margin: 10px 0;
                flex-wrap: wrap;
                button {
                  margin: 5px 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 680px) {
  .viajar-wrapper {
    .salioviaje {
      .salioviaje-desplegable {
        .formulario-viaje{
          .step_1,
          .step_2_traslado,
          .step_2_tour,
          .step_2_transfer,
          .step_2_fiestas,
          .step_3,
          .step_4{
            .formulario-grid {
              grid-template-columns: 1fr;
              gap: 0;
            }
          }
          
        }
        
      }
    }
  }
}
