//------[Colores]------

$main_1: #3844bc;
$main_2: #2b3179;
$main_3: #6d76db;
$main_4: #3f447f;

$contraste_1: #333333;
$contraste_2: #ffffff;

//------[Imports]------

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;900&display=swap");

@import "components/index";
@import "components/header";
@import "components/header_2";
@import "components/footer";
@import "components/form";
@import "components/panel";
@import "components/loader";
@import "components/about";
@import "components/servicios";
@import "components/viajar";
@import "components/whatsapp-float";
@import "components/faq-float";
@import "components/t2voice";
@import "components/agendarviaje";
@import "components/profile";
@import "components/oportunidad";
@import "components/espera";
@import "components/FAQ";
@import "components/edit-FAQ";
@import "components/solicitud";
@import "components/changePassword";
@import "components/crearEmpresa";
@import "components/detalles-cotizacion";
@import "components/modal";
@import "components/tooltip";
@import "components/oferta";
@import "components/gurucuteco";
@import "components/flotantPromo";

//------[Basics]------

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans-serif";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $contraste_2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main_1;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main_2;
}

html {
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: $contraste_2;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);

}